<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_layout_render_element">
        <observer name="dmtq_page_layout_cache" instance="DMTQ\PerfectCache\Observer\CacheProcessLayoutRenderElement" />
    </event>
    <event name="cms_page_render">
        <observer name="dmtq_cms_page_render" instance="DMTQ\PerfectCache\Observer\CacheCmsRender" />
    </event>
</config>
